
<div class="alignment body-text font">
	<%= simple_form_for(@user) do |f| %>
		<div class="margin"></div>
	  <%= f.input :email %>
	  <%= f.input :first_name %>
	  <%= f.input :last_name %>
	  <%= f.input :bio %>
	  <%= f.input :profile_picture, as: :attachinary %>
	  <%= f.input :cover_photo, as: :attachinary %>
	  <div class="text-center">
	  	<%= f.submit value: "Save", class: "btn btn-primary", id: "margin-bot" %>
	  </div>
	<% end %>
</div>
