<div class="flex-around" id="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),
           url('<%= @user.cover_photo.nil? ? (cl_image_path ('homepage_dcj50q')) : (cl_image_path @user.cover_photo.path) %>')">
  <div class="profile-header">
    <% if @user.profile_picture? %>
      <%= cl_image_tag @user.profile_picture.path, width: 100, height: 100, crop: :fill, class: "avatar-large" %>
    <% else %>
      <%= cl_image_tag 'sample', width: 400, height: 400, crop: :fill, class: "avatar-large" %>
    <% end %>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <span id="bio"><i class="fa fa-user-o"></i> <%= @user.bio %></span>
    <span><i class="fa fa-map-marker"></i> London, UK</span>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3></h3>
      </div>
    </div>
  </div>
</div>





