<div class="container" id="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),
           url('<%= @user.cover_photo.nil? ? (cl_image_path ('homepage_dcj50q')) : (cl_image_path @user.cover_photo.path) %>')">
  <div class="profile-picture">
    <% if @user.profile_picture? %>
      <%= cl_image_tag @user.profile_picture.path, width: 100, height: 100, crop: :fill, class: "avatar-large" %>
    <% else %>
      <%= cl_image_tag 'sample', width: 100, height: 100, crop: :fill, class: "avatar-large" %>
    <% end %>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>

  <div class="profile-stats">
    <div class="stat flex">Contributions<br>8</div>
    <div class="stat flex">Upvotes<br>24</div>
    <div class="stat flex">Followers<br>17</div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col col-lg-4 profile-card">
      <div class="card-header">
        <h3>About</h3>
      </div>
      <div class="card-content">
        <h4>Bio</h4>
        <p><%= @user.bio %></p>
        <h4>Links</h4>
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col col-lg-7 profile-card">
      <div class="card-header">
        <h3>Contributions feed</h3>
      </div>
      <div class="card-content">
        <% @user.contributions.each do |contribution| %>
          <div class="contribution-container">
            <div class="contribution-thumbnail">
              <%= image_tag('http://unsplash.it/120/?random') %>
            </div>
            <div class="contribution-details">
              <h4>Awesome business concept</h4>
              <p><%= contribution.comment.first(200) %></p>
            </div>
            <div class="contribution-buttons">
              <%= link_to "View", "#", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
