<div class="wrapper-work-with">
  <div class="container-work-with text-center">
    <h1>Who do we work with?</h1>
    <p>Click to see company profiles</p>
  </div>
  <br>
  <div class="container-logos">
    <div class="three-icons">
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <%= image_tag("monzo.png", class: 'avatar-xl-faded')  %>
        </div>
        <div class="col-md-4 col-xs-12">
          <%= image_tag("beaufort.png", class: 'avatar-xl-faded') %>
        </div>
        <div class="col-md-4 col-xs-12">
          <%= image_tag("farrow.jpg", class: 'avatar-xl-faded') %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-bottom">
    <div class="four-icons">
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <%= image_tag("gohenry.png", class: 'avatar-xl') %>
        </div>
        <div class="col-md-3 col-xs-12">
          <%= image_tag("tlwc.png", class: 'avatar-xl') %>
        </div>
        <div class="col-md-3 col-xs-12">
          <%= image_tag("cartier.jpg", class: 'avatar-xl') %>
        </div>
        <div class="col-md-3 col-xs-12">
          <%= image_tag("bp.jpg", class: 'avatar-xl') %>
        </div>
      </div>
    </div>
  </div>
</div>

