<div class="card_border">
  <div class="card">
    <div class="creator-avitar">
      <%= image_tag ("avitar.jpg"), class: "avatar" %>
    </div>

    <div class="full_name">
      <% full_name = "#{project.user.first_name} #{project.user.last_name}"%>
      <p><%= full_name %></p>
    </div>

    <div class="project_information">
      <div class="title">
        <h1><%= project.title %></h1>
      </div>
      <hr width="30%">
      <div class="brief">
        <% if project.brief.length > 100 then %>
          <p><%= project.brief[0...100] %>...</p>
        <% else %>
          <p><%= project.brief %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card_color_divide">
      <div class="project_remaining_days">
        <% days_left = (project.end_date.to_date - DateTime.now.to_date).to_i %>
        <% if days_left > 0 then %>
        <p><%= days_left %> days left</p>
        <% else %>
          <p>Closed</p>
        <% end %>

      </div>

      <% if project.max_joins == nil then  %>
        <div class="pill">
          <p><%= project.category %></p>
        </div>
      <% else %>
        <div class="right_color_divide">
        <div class="pill">
          <p><%= project.max_joins %></p>
        </div>
        <div class="pill">
          <p><%= project.category %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>


