<%= link_to(project) do %>
  <div class="card_border">
    <div class="cover-image" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),
           url('<%= project.user.cover_photo.nil? ? (cl_image_path ('homepage_dcj50q')) : (cl_image_path project.user.cover_photo.path) %>')">
    </div>
    <div class="card">
      <div class="creator-avitar">
        <% if project.user.profile_picture? %>
          <%= cl_image_tag project.user.profile_picture.path, width: 70, height: 70, crop: :fill, class: "avatar-medium" %>
        <% else %>
          <%= cl_image_tag 'sample', width: 70, height: 70, crop: :fill, class: "avatar-medium" %>
        <% end %>
      </div>

      <div class="search-icon">
        <i class="fa fa-search"></i>
      </div>

      <div class="project_information">
        <div class="title">
          <h1><%= project.title %></h1>
        </div>
        <hr width="30%">
        <div class="brief">
          <p><%= project.user.first_name %> <%= project.user.last_name %></p>
        </div>
      </div>
    </div>

    <div class="card_color_divide">
        <div class="project_remaining_days">
          <% days_left = (project.end_date.to_date - DateTime.now.to_date).to_i %>
          <% if days_left > 0 then %>
          <p><%= days_left %> days left</p>
          <% else %>
            <p>Closed</p>
          <% end %>

        </div>

        <% if project.max_joins == nil then  %>
          <div class="pill">
            <p><%= project.category %></p>
          </div>
        <% else %>
          <div class="right_color_divide">
          <div class="pill">
            <% joins_remaining = (project.max_joins) - (project.participations.count) %>
            <p><%= joins_remaining %></p>
          </div>
          <div class="pill">
            <p><%= project.category %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

