<div class="container">
  <h1>Contributions for <%= @project.title %> project</h1>

  <div class="row">
  <% @contributions.each do |contribution| %>

    <div class="col-xs-12">
      <div class="contribution-list-item">
        <div class="about-contributer">
          <div class="column-left">
            <% if contribution.user.profile_picture? %>
              <%= cl_image_tag contribution.user.profile_picture.path, width: 70, height: 70, crop: :fill, class: "avatar-medium" %>
            <% else %>
              <%= cl_image_tag 'sample', width: 70, height: 70, crop: :fill, class: "avatar-medium" %>
            <% end %>
          </div>
          <div>
            <p><%= contribution.user.first_name %> <%= contribution.user.last_name %></p>
          </div>
        </div>
        <div class="column-center">
          <div>
            <p><%= contribution.comment %></p>
          </div>
        </div>
        <div class="column-right">
          <div>
            <%= link_to "View", projects_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
